.ui.item
	.ui.purple.segment
		%h3.ui.purple.header= formal ? person.formal : person.name
		- addr = person.current_address
		-unless addr.nil?
			-addr.as_lines.each do |line|
				%p.address= line

		=button_to  "Edit", edit_person_path(person), method: :get, class: "ui basic purple button "
		-if recd_button
			-unless mailing.responders.include? person
				=button_to "Received Response", "#{mailing.id}/recd/#{person.id}", method: :post, class: "ui yellow button "
			-else
				.ui.green.label ✔ Responded
				=button_to "Oops", "#{mailing.id}/recd/#{person.id}", method: :delete, class: "ui basic red button"